@using Strem.Portals.Data
@using Strem.Portals.Types
@using Strem.Core.Extensions
@using Strem.Portals.Extensions

<a class="button portal-button m-3 is-flex is-flex-direction-column" @onclick="OnButtonPressed" style="@GetButtonStyles()">
    @if (ElementStyles.ButtonType == ButtonType.IconButton)
    {
        <span class="icon fa-3x m-auto">
            <i class="fas @(ElementStyles.IconClass())"></i>
        </span>
    }
    else if (ElementStyles.ButtonType == ButtonType.ImageButton)
    {
        <figure class="image is-96x96">
            <img alt="@ElementStyles.Text" src="@ElementStyles.ImageUrl().GetImageUrl()" class="is-full"/>
        </figure>
    }
    <label class="label is-size-7" style="color: @(ElementStyles.ForegroundColor)">@ElementStyles.Text</label>
</a>

@code {
    [Parameter]
    public Guid ElementId { get; set; }
    
    [Parameter]
    public ElementStyles ElementStyles { get; set; }
    
    [Parameter]
    public EventCallback<Guid> ButtonPressed { get; set; }


    public void OnButtonPressed()
    {
        ButtonPressed.InvokeAsync(ElementId);
    }
    
    private string GetButtonStyles()
    { return $"background-color: {ElementStyles.BackgroundColor}; color: {ElementStyles.ForegroundColor}"; }
}