@using Strem.Infrastructure.Services.Api
@using Strem.Portals.Data
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@using Strem.Core.Events.Bus
@using Strem.Core.Extensions
@using Strem.Core.Services.Browsers.Web
@using Strem.Core.Types
@using Strem.Portals.Data.Overrides
@using Strem.Portals.Events
@using Strem.Portals.Extensions
@using Strem.Portals.Types
@using Strem.Todos.Data
@using Strem.Todos.Services.Stores
@using System.Reactive.Linq
@using System.Reactive.Disposables
@using Strem.Core.Services.UI.Modal

@inject IWebBrowser WebBrowser
@inject IEventBus EventBus
@inject ITodoStore TodoStore 
@inject ButtonRuntimeStyles ButtonRuntimeStyles 

@implements IDisposable

<div class="box">
    <PortalDetailsEditor Data="Portal" DataChanged="PortalDetailsChanged" />
     <div class="field">
            <div class="control">
                <button class="button is-primary is-leveled" @onclick="ViewPortalInBrowser">
                    <span class="icon is-small">
                        <i class="fas fa-globe"></i>
                    </span>
                    <span>View In Browser</span>
                </button>
            </div>
        </div>
</div>

<div class="columns">
    <div class="column">
        <div class="box">
            <div class="portal-page portal-editor">
                <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
                    @for (var i = 0; i < Portal.ElementGridSize; i++)
                    {
                        var cachedIndex = i;
                        var possibleElement = GetElementAt(i);
                        if (possibleElement == null)
                        {
                            <DraggableElement Data="@cachedIndex" DropType="@DropTypes.None" SupportedDropTypes="new []{ DropTypes.PortalElement }" 
                                              CanDrag="false" Classes="is-flex is-flex-direction-column">
                                <PlaceholderButton ButtonSize="Portal.ElementSize" GridIndex="@cachedIndex" ButtonPressed="AddElement">
                                    <span class="icon fa-3x m-auto">
                                        <i class="fas fa-plus has-text-white"></i>
                                    </span>
                                    <label class="label has-text-white">Add Element</label>
                                </PlaceholderButton>
                            </DraggableElement>
                        }
                        else
                        {
                            <DraggableElement Data="possibleElement" DropType="@DropTypes.PortalElement" SupportedDropTypes="@(new []{ DropTypes.PortalElement })" @key="possibleElement.Id">
                                
                                    @if (possibleElement.DefaultStyles.ButtonType == ButtonType.Slider)
                                    {
                                        <PortalSlider ElementId="possibleElement.Id" ElementData="possibleElement" ElementStyles="possibleElement.DefaultStyles" OnClick="EditElement"/>
                                    }
                                    else
                                    {
                                        <PortalButton ElementId="possibleElement.Id" ElementStyles="possibleElement.DefaultStyles" />
                                    }
                                
                            </DraggableElement>
                        }
                    }
                </div>
            </div>
        </div>
        @{
            var orphanedElements = Portal.Elements
                .Where(x => x.GridIndex < 0 || x.GridIndex >= Portal.ElementGridSize).ToArray();
        }
        @if (orphanedElements.Length > 0)
        {
            <div class="box">
                <h3 class="title is-3 has-text-black">Orphaned Elements</h3>
                <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
                    @foreach (var element in orphanedElements)
                    {
                        <DraggableElement Data="element" DropType="@DropTypes.PortalElement" SupportedDropTypes="@(new[] { DropTypes.None })" @key="element.Id">
                                @if (element.DefaultStyles.ButtonType == ButtonType.Slider)
                                {
                                    <PortalSlider ElementId="element.Id" ElementData="element" ElementStyles="element.DefaultStyles" />
                                }
                                else
                                {
                                    <PortalButton ElementId="element.Id" ElementStyles="element.DefaultStyles"/>
                                }
                        </DraggableElement>
                    }
                </div>
            </div>
        }
    </div>
    @if (Portal.ShowTodos)
    {
        var filteredTodos = GetFilteredTodos().ToArray();
        if (filteredTodos.Length > 0)
        {
            <div class="column is-one-half todo-section">
                <div class="box">
                    <PagedContent Data="filteredTodos" ElementsPerPage="5" Context="Todo" OrderBy="x => x.ExpiryDate">
                        <TodoEntry Todo="Todo" CanRemove="false"></TodoEntry>
                    </PagedContent>
                </div>
            </div>
        }
    }
</div>

<ModalContent Id="portal-button-editor-modal" @ref="EditButtonModal">
    @if (SelectedGridElement != null)
    {
        <PortalButtonEditor Data="SelectedGridElement" OnClosed="ModalService.CloseModal" RequestedDeletion="DeleteButton"></PortalButtonEditor>
    }
</ModalContent>

@code {
    [CascadingParameter]
    public IDragAndDropService DragAndDropService { get; set; }

    [CascadingParameter]
    public IModalInteractionService ModalService { get; set; }
    
    [Parameter]
    public PortalData Portal { get; set; } = new();
    
    [Parameter]
    public EventCallback<Guid> RequestingDeletion { get; set; }
    
    public GridElementData SelectedGridElement { get; set; }
    
    public ModalElementReference EditButtonModal { get; set; }

    private CompositeDisposable _subs = new();
    
    protected override async Task OnInitializedAsync()
    {
        DragAndDropService.OnDroppedItem
            .Where(x => x.SourceDropType == DropTypes.PortalElement && 
                        x.DestinationDropType == DropTypes.PortalElement)
            .Subscribe(SwapButtons)
            .AddTo(_subs);
        
        DragAndDropService.OnDroppedItem
            .Where(x => (x.SourceDropType == DropTypes.PortalElement) && 
                        x.DestinationDropType == DropTypes.None)
            .Subscribe(MoveButton)
            .AddTo(_subs);
    }

    public void SwapButtons(DropData data)
    {
        var destinationButton = data.DestinationObject as GridElementData;
        var sourceButton = data.SourceObject as GridElementData;
        var destinationGridIndex = destinationButton.GridIndex;
        destinationButton.GridIndex = sourceButton.GridIndex;
        sourceButton.GridIndex = destinationGridIndex;
        InvokeAsync(StateHasChanged);
        EventBus.PublishAsync(new PortalChangedEvent(Portal.Id));
    }

    public void MoveButton(DropData data)
    {
        var sourceButton = data.SourceObject as GridElementData;
        var newIndex = (int)data.DestinationObject;
        sourceButton.GridIndex = newIndex;
        InvokeAsync(StateHasChanged);
        EventBus.PublishAsync(new PortalChangedEvent(Portal.Id));
    }

    public void AddElement(int gridIndex)
    {
        var button = new GridElementData { GridIndex = gridIndex };
        button.MaxValue(100);
        Portal.Elements.Add(button);
        EditElement(button.Id);
    }

    public void EditElement(Guid buttonId)
    {
        var button = Portal.Elements.SingleOrDefault(x => x.Id == buttonId);
        if(button == null) { return; }
        
        SelectedGridElement = button;
        ModalService.ShowModal(EditButtonModal.Reference);
    }

    public void ViewPortalInBrowser()
    {
        var portalUrl = $"http://localhost:{InternalWebHostConfiguration.ApiHostPort}/portals/{Portal.Id}";
        WebBrowser.LoadUrl(portalUrl);
    }

    public IEnumerable<TodoData> GetFilteredTodos()
    {
        if (Portal.TodoTags.Count == 0)
        { return TodoStore.Data; }

        return TodoStore.Data
            .Where(x => Portal.TodoTags.All(requiredTag => x.Tags.Contains(requiredTag, StringComparer.OrdinalIgnoreCase)));
    }
    
    private void ButtonEditModalClosed()
    {
        ModalService.CloseModal();
        EventBus.PublishAsync(new PortalElementChangedEvent(Portal.Id, SelectedGridElement.Id));
        ButtonRuntimeStyles.RefreshStylesFor(Portal.Id, SelectedGridElement);
        SelectedGridElement = null;
    }

    private void PortalDetailsChanged()
    {
        InvokeAsync(StateHasChanged);
        EventBus.PublishAsync(new PortalChangedEvent(Portal.Id));
    }

    private void DeleteButton(Guid obj)
    {
        ModalService.CloseModal();
        Portal.Elements.Remove(SelectedGridElement);
        SelectedGridElement = null;
        EventBus.PublishAsync(new PortalChangedEvent(Portal.Id));
    }

    private void OnPortalDeletion()
    { RequestingDeletion.InvokeAsync(Portal.Id); }

    private GridElementData? GetElementAt(int gridIndex)
    {return Portal.Elements.FirstOrDefault(x => x.GridIndex == gridIndex);}

    public void Dispose()
    { _subs.Dispose(); }

}