@using Strem.Core.Todo
@using Strem.Core.Web

@inject IBrowserLoader BrowserLoader;

@{ var progress = GetProgress(Todo); }
<div class="box mb-3 @(progress <= 0 ? "has-background-danger-dark" : "has-background-grey-dark")">
    <div class="field is-grouped is-align-items-center">
        <div class="control is-expanded">
            <div class="has-text-white is-size-6 has-text-weight-semibold">@GetDescription(Todo)</div>
            <p class="subtitle is-size-7 has-text-weight-semibold">Created At: @Todo.CreatedDate.ToString("g")</p>
        </div>
        <div class="control has-text-centered">
            <progress class="progress mb-1 @(GetProgressStyle(progress))" value="@progress" max="100">@(progress)%</progress>
            <span class="tag  @(GetProgressStyle(progress))">@GetHoursLeftReading(Todo)h Left</span>
        </div>
        <div class="control">
            @if (Todo.ActionType == TodoActionType.Link)
            {
                <button class="button is-info" @onclick="() => ActionTodo(Todo)">Load Link</button>
            }
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public TodoData Todo { get; set; }
    
    public int GetProgress(TodoData todo)
    {
        var timeLeft = todo.ExpiryDate - todo.CreatedDate;
        var totalHoursLeft = timeLeft.TotalHours;
        if(totalHoursLeft > 24) { return 100; }
        var percentage = (totalHoursLeft / 24) * 100;
        return (int)percentage; //(int)Math.Ceiling(Math.Abs(percentage - 100));
    }

    public string GetProgressStyle(int progress)
    {
        if(progress <= 25) { return "is-danger"; }
        if(progress <= 50) { return "is-warning"; }
        return "is-success";
    }

    public string GetHoursLeftReading(TodoData todo)
    {
        var hoursLeft = (int)(todo.ExpiryDate - todo.CreatedDate).TotalHours;
        return hoursLeft > 24 ? "24+" : hoursLeft.ToString();
    }

    public string GetDescription(TodoData todo)
    {
        return $"{todo.Title}";
    }

    public void ActionTodo(TodoData todo)
    {
        if (todo.ActionType == TodoActionType.Link)
        {
            BrowserLoader.LoadUrl(todo.Payload);
        }
    }
}