@using Strem.Core.Extensions
@using System.Reactive.Disposables
@using System.Reactive.Linq

@typeparam TData
@implements IDisposable

<div draggable="@(CanDrag.ToString())"
    class="@(Classes) @(DragAndDropService.IsSourceObject(Data) ? "drag-source" : "") @(IsCurrentDropTarget ? OnTargetClasses : "")"
    ondragover="event.preventDefault()"
    @ondragstart="@(() => DragAndDropService.OnDragStart(Data, ContainingList, DropType))"
    @ondragenter="@(() => { DragAndDropService.OnDragEnterElement(Data, ContainingList, DropType); CheckForDragTarget(); })"
    @ondragend="DragAndDropService.OnDragEnd">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    public IDragAndDropService DragAndDropService { get; set; }
    
    [Parameter]
    public string DropType { get; set; }

    [Parameter]
    public IReadOnlyCollection<string> SupportedDropTypes { get; set; } = Array.Empty<string>();
    
    [Parameter]
    public TData Data { get; set; }

    [Parameter]
    public List<TData> ContainingList { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string Classes { get; set; }

    [Parameter]
    public string OnTargetClasses { get; set; } = " drag-enter-target";

    [Parameter]
    public bool CanDrag { get; set; } = true;

    private CompositeDisposable _subs = new();
    private bool IsCurrentDropTarget { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        DragAndDropService.OnDestinationObjectChanged
            .Where(x => IsCurrentDropTarget)
            .Subscribe(x =>
            {
                CheckForDragTarget();
                InvokeAsync(StateHasChanged);
            })
            .AddTo(_subs);
    }

    public bool IsDropTarget()
    {
        return SupportedDropTypes.Contains(DragAndDropService.SourceDropType, StringComparer.OrdinalIgnoreCase) && 
               DragAndDropService.IsDestinationObject(Data);
    }

    public void CheckForDragTarget()
    {
        IsCurrentDropTarget = IsDropTarget();
    }

    public void Dispose()
    {
        _subs.Dispose();
    }
}