@using Strem.Core.Flows.Registries
@using Strem.Core.Flows
@using Strem.Core.Events.Bus
@using Strem.Core.Events.Flows
@using Strem.Core.Extensions
@using System.Reactive.Disposables

@inject IEventBus EventBus;
@inject ITaskRegistry TaskRegistry;
@inject ITriggerRegistry TriggerRegistry;

@implements IDisposable

<aside class="menu box">
  <p class="menu-label">
    Triggers - General
  </p>
  <ul class="menu-list">
    @foreach (var trigger in TriggerRegistry.GetAll())
    {
      if (!DoesFlowContainTrigger(trigger))
      {
        <li>
          <a class="is-trigger has-tooltip-left has-tooltip-multiline @(trigger.Trigger.CanExecute() ? "enabled" : "disabled")"
             data-tooltip="@trigger.Trigger.Description" @onclick="() => OnTriggerSelected.InvokeAsync(trigger)">
            <span class="icon is-small">
              <i class="fa fa-circle-plus"></i>
            </span>
            <span class="ml-2 menu-text">@trigger.Trigger.Name</span>
          </a>
        </li>
      }
    }
  </ul>
  <p class="menu-label">
    Tasks - General
  </p>
  <ul class="menu-list">
    @foreach (var task in TaskRegistry.GetAll())
    {
      <li><a class="is-task has-tooltip-left has-tooltip-multiline @(task.Task.CanExecute() ? "enabled" : "disabled")" data-tooltip="@task.Task.Description"
             @onclick="() => OnTaskSelected.InvokeAsync(task)">
        <span class="icon is-small">
          <i class="fa fa-circle-plus"></i>
        </span>
        <span class="ml-2 menu-text">@task.Task.Name</span>
      </a></li>
    }
  </ul>
</aside>

@code {
  [Parameter]
  public Flow Flow { get; set; }
  
  [Parameter] 
  public EventCallback<TaskDescriptor> OnTaskSelected { get; set; }
  
  [Parameter] 
  public EventCallback<TriggerDescriptor> OnTriggerSelected { get; set; }

  private CompositeDisposable _subs = new ();
  
  protected override async Task OnInitializedAsync()
  {
    EventBus.Receive<FlowTriggersChangedEvent>()
        .Subscribe(_ => InvokeAsync(StateHasChanged))
        .AddTo(_subs);
  }

  public bool DoesFlowContainTrigger(TriggerDescriptor triggerDescriptor)
  { return Flow.TriggerData.Any(x => x.Code == triggerDescriptor.Trigger.Code); }

  public void Dispose()
  {
    _subs?.Dispose();
  }

}