@using Strem.Core.Extensions
@using Strem.Portals.Extensions
@using Strem.Portals.Services.Stores
@using Microsoft.AspNetCore.Components
@using Strem.Portals.Types
@inherits Strem.Flows.Components.Tasks.CustomTaskComponent<Strem.Portals.Flows.Tasks.ChangePortalButtonStylesTaskData>

@inject IPortalStore PortalStore

<div class="field">
    <label class="label">Required Portal</label>
    <div class="control">
        <div class="select">
            <DataSelectInput @bind-Value="Data.PortalId" Data="PortalStore.Data" GetName="x => x.Name" GetValue="x => x.Id" MapValue="x => Guid.Parse(x.ToString())"/>
        </div>
    </div>
    <HelperInfo>This lets you specify which portal contains the button</HelperInfo>
</div>
@if (Data.PortalId != Guid.Empty)
{
    var portal = PortalStore.Get(Data.PortalId);
    if (portal != null)
    {
        <div class="field">
            <label class="label">Portal Button</label>
            <div class="control">
                <div class="select">
                    <DataSelectInput @bind-Value="Data.ButtonId" Data="portal.Elements.Where(x => x.ElementType == GridElementType.Button)" GetName="x => x.Name" GetValue="x => x.Id" MapValue="x => Guid.Parse(x.ToString())"/>
                </div>
            </div>
            <HelperInfo>This lets you specify which button you want to alter</HelperInfo>
        </div>
    }
}

@if (Data.ButtonId != Guid.Empty)
{
    <div class="field">
        <label class="label">Change Button Color</label>
        <div class="control">
        <GatedTextInput @bind-Value="Data.NewStyles.BackgroundColor" @bind-Enabled="Data.ChangeBackgroundColor" type="color"/>
        </div>
    </div>

    <div class="field">
        <label class="label">Change Text Color</label>
        <div class="control">
            <GatedTextInput @bind-Value="Data.NewStyles.ForegroundColor" @bind-Enabled="Data.ChangeTextColor" type="color" />
        </div>
    </div>

    <div class="field">
        <label class="label">Change Button Text</label>
        <div class="control">
            <GatedTextInput @bind-Value="Data.NewStyles.Text" @bind-Enabled="Data.ChangeText" />
        </div>
    </div>

    <div class="field">
        <label class="label">Change Button Type</label>
        <div class="control">
            <GatedSelect TEnum="ButtonType" Value="Data.NewStyles.ButtonType()" ValueChanged="x => Data.NewStyles.ButtonType(x)" @bind-Enabled="Data.ChangeButtonType" />
        </div>
    </div>

    <label class="label">Button Icon</label>
    <div class="field has-addons">
        <div class="control">
            <button class="button @(Data.ChangeIcon ? "is-success" : "is-danger")" @onclick="() => Data.ChangeIcon = !Data.ChangeIcon">
                <span class="icon is-small">
                    <i class="fas @(Data.ChangeIcon ? "fa-check" : "fa-xmark")"></i>
                </span>
            </button>
        </div>
        <div class="control">
            <IconPicker Value="@Data.NewStyles.IconClass()" ValueChanged="x => Data.NewStyles.IconClass(x)" disabled="@(!Data.ChangeIcon)" />
        </div>
    </div>

    <label class="label">Button Image</label>
    <div class="field has-addons">
        <div class="control">
            <button class="button @(Data.ChangeImage ? "is-success" : "is-danger")" @onclick="() => Data.ChangeImage = !Data.ChangeImage">
                <span class="icon is-small">
                    <i class="fas @(Data.ChangeImage ? "fa-check" : "fa-xmark")"></i>
                </span>
            </button>
        </div>
        <div class="control">
            <FileInputBrowser Value="@Data.NewStyles.ImageUrl()" ValueChanged="x => Data.NewStyles.ImageUrl(x)" disabled="@(!Data.ChangeImage)" />
        </div>
    </div>
    <HelperInfo>This can be a url to a file online or a local file, local files need more processing though so the larger they are the longer they will take to load, try to keep sizes below 256x256 pixels</HelperInfo>

    if (!string.IsNullOrEmpty(Data.NewStyles.ImageUrl()))
    {
        <div class="field">
            <div class="control">
                <figure class="image is-128x128">
                    <img alt="@Data.NewStyles.Text" src="@Data.NewStyles.ImageUrl().GetImageUrl()" class="is-full"/>
                </figure>
            </div>
        </div>
    }
    <HelperInfo>If you do not want to change the value leave the inputs disabled and it will be ignored</HelperInfo>
}

@code {
    public override string Title => GetTitle();
    
    public string GetTitle()
    {
        if(Data.PortalId == Guid.Empty && Data.ButtonId == Guid.Empty)
        { return $"Change Button Style"; }

        var portal = PortalStore.Get(Data.PortalId);
        var button = portal?.Elements.SingleOrDefault(x => x.Id == Data.ButtonId);
        if(button == null) { return "Change Button Style"; }

        return $"Change {button.Name} Styles In {portal.Name}";
    }
}