@inherits ValidatedInputBase<string>

<div class="gated-input field has-addons @(IsValid != null ? IsValid.Value ? "valid" : "invalid" : "")">
    <div class="control">
        <button class="button @(Enabled ? "is-success" : "is-danger")" @onclick="() => EnabledChanged.InvokeAsync(!Enabled)">
            <span class="icon is-small">
                <i class="fas @(Enabled ? "fa-check" : "fa-xmark")"></i>
            </span>
        </button>
    </div>
    <div class="control is-expanded">
        <input class="input is-expanded" type="@Type" value="@Value" disabled="@(!Enabled)" placeholder="@Placeholder"
               @onchange="e => OnValueChanged(e.Value.ToString())" />
    </div>
</div>

@code {
    [Parameter]
    public bool Enabled { get; set; }
    
    [Parameter]
    public EventCallback<bool> EnabledChanged { get; set; } 
    
    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public string Type { get; set; } = "text";
}